<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../static/style.css" rel="stylesheet" type="text/css">
        <TITLE>Home</TITLE>
    </head>

    <body>

    <img src="../pictures/VarPred_logo.png" alt="VarPred" class="right">
    <div class="header">
        <a href="home.html" class="logo"> <img src="../pictures/VarPred_logo.png" alt="VarPred" class="top_left"></a>
    </div>

    <br>

    <br>
    <div class="tekst">
<h2>Hi</h2>
    </div>
<!--        <form action="{{ url_for("get_input") }}" method="POST" enctype="multipart/form-data">-->
<!--            <label>Enter the VCF file below:<br><br>-->
<!--                <input type="file" name="vcf_file" accept=".vcf" />-->
<!--            </label><br><br>-->
<!--            <button name="resultbutton" type="submit">Calculate results</button>-->
<!--            <br><br>-->
<!--            {{ vcf_file_name }}-->

<!--        </form>-->

    <script>
        function myFunction(x) {
            x.classList.toggle("change");
        }
    </script>

    </body>
</html>