<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../framework/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script src="../framework/bootstrap.js"></script>
        <TITLE>Home</TITLE>
    </head>

<!--    <body>-->
<!--    <nav class="navbar navbar-light bg-light">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="home.html">-->
<!--                <img src="../pictures/VarPred_logo.png" alt="VarPred" width="175" height="150">-->
<!--            </a>-->
<!--        </div>-->
<!--    </nav>-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="home.html">
                <img src="../pictures/VarPred_logo.png" alt="VarPred" width="175" height="150">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--    <img src="../pictures/VarPred_logo.png" alt="VarPred" class="right">-->
    <div class="header">
        <a href="home.html" class="logo"> <img src="../pictures/VarPred_logo.png" alt="VarPred" class="top_left"></a>
    </div>

    <br>

    <br>
    <div class="border"><div class="home_text">
    <h2>Acurate voorspelling van uw clinical signifcance?</h2>
        <br>
        <p>Klik op de knop om uw VCF-bestand door te sturen naar ons, waardoor wij binnen 30 seconden uw resultaten beschikbaar hebben.</p>
        <button class="button"><a href="info.html" class="home_text_button"><span>Voorspel </span></button>
    </div></div>
<!--        <form action="{{ url_for("get_input") }}" method="POST" enctype="multipart/form-data">-->
<!--            <label>Enter the VCF file below:<br><br>-->
<!--                <input type="file" name="vcf_file" accept=".vcf" />-->
<!--            </label><br><br>-->
<!--            <button name="resultbutton" type="submit">Calculate results</button>-->
<!--            <br><br>-->
<!--            {{ vcf_file_name }}-->

<!--        </form>-->

<!--    <script>-->
<!--        function myFunction(x) {-->
<!--            x.classList.toggle("change");-->
<!--        }-->
<!--    </script>-->


    </body>
</html>