/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*li {*/
/*    float: left;*/

/*}*/

/*li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/

/*li a.active {*/
/*    background-color: #404040;*/
/*    color: white;*/
/*}*/

/*li a:hover:not(.active) {*/
/*    background-color: #4d4d4d;*/
/*    color: white;*/
/*}*/

/*table, th, td {*/
/*  border: 1px solid black;*/
/*  border-collapse: collapse;*/
/*}*/
/*th, td {*/
/*  padding: 5px;*/
/*}*/
/*th {*/
/*  text-align: left;*/
/*}*/


.right {
    float: right;
    background-color: Gray;
    margin: -20px;
}

.top_left {
    float: left;
    width: 110px;
    height: 90px;
    border: 2px solid #73AD21;
    padding: 3px;
    margin: 10px;
}

/* Header */
* {
    box-sizing: border-box;
}

body {
    margin: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: MediumSeaGreen;
    color: white;
}

.header a.active :hover {
    background-color: #09a440;
    color: white;
}

.header-list {
    float: left;

}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.tekst {
    padding: 30px;
}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 50%;
    margin: 1px 2px;
    height: 50px;
    width: 70px;
    font-size: 25px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.rectangle_container {
    height: 1100px;
    width: 1878px;
    border: solid 3px;
    padding: 10px;
}

.rectangle_visualisation {
    height: 867px;
    width: 1853px;
    border: solid 3px;
    padding: 10px;
}