.right {
    float: right;
    background-color: Gray;
    margin: -20px;
}

.top_left {
    float: left;
    width: 110px;
    height: 90px;
    border: 2px solid #73AD21;
    padding: 3px;
    margin: 10px;
}

/* Header */
* {
    box-sizing: border-box;
}

body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: MediumSeaGreen;
    color: white;
}

.header a.active :hover {
    background-color: #09a440;
    color: white;
}

.header-list {
    float: left;

}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

.tekst {
    padding: 30px;
}

.btn-group {
    display: flex;
}

.btn-group button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 50%;
    margin: 1px 2px;
    height: 40px;
    width: 100%;
    font-size: 25px;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.btn-group {
    display: flex;
}

.rectangle_container {
    height: 100%;
    width: 100%;
    border: solid 3px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rectangle_visualisation {
    height: 100%;
    min-height: 400px;
    width: 100%;
    border: solid 3px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-wrap: break-word;
}

.chart {
    width: 99%;
}

.results_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

.results_table td {
    border: 1px solid black;
    padding: 8px;
    position: relative;
    width: 3.4%;
}

.results_table tr:hover {
    background-color: #ddd!important;
}

.results_table th {
    padding: 8px;
    text-align: left;
    background-color: #04AA6D!important;
    color: white;
    border: 1px solid black;
    position: relative;
    width: 1%;
}

.results_table_chromosomes {
    padding: 8px;
    text-align: center;
    background-color: #04AA6D!important;
    color: white;
    border: 1px solid black;
    position: relative;
    width: 1%;
}

.results_table td:hover::after,
.results_table th:hover::after {
    content: "";
    position: absolute;
    background-color: #ddd!important;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

#results_per_chromosome_button {
    color: white;
    background-color: #04AA6D;
    border-radius: 20px;
    width: 40%;
}

.reference_selector {
    background-color: #e9ecef;
    border-radius: 5px;
    width: 120%;
    border: 1px solid gray;
    text-align: center;
    height: 35px;
    margin: -10%;
}

