{% extends 'header.html' %}
{% block content %}
<div class="p-3 mb-2 container bg-success container-adjustment-about">
<h2>About <img src="../static/VarPred_logo.png" alt="VarPred" width="100" height="80"></h2>
</div>
    <div class="container bg-light container-adjustment-about">
        <p>Wat begon als start-up vanuit de Radboud Universiteit in 2006 is in de afgelopen jaren flink gegroeid naar een modern software bedrijf met een sterk bedrijfskundig DNA. Vanuit Nijmegen ondersteunen wij onze klanten met zelf ontwikkelde apps en ERP-oplossingen uit de Microsoft Dynamics stal. Blisss is succesvol in verschillende deelmarkten zoals groothandel en productie. Inmiddels zijn we uitgegroeid tot een Microsoft Gold Partner. Daar zijn wij enorm trots op.

Blisss Software is een softwarebedrijf dat streeft naar Simpele en zeer effectieve software oplossingen. Het is onze missie om bedrijven te helpen succesvoller te zijn door ze te ondersteunen met verrassend goede adviezen en bijbehorende software.

Onze opdrachten variëren van effectieve app-oplossingen waar we je in een kort tijdsbestek mee kunnen helpen tot en met het optimaliseren van jouw bedrijfsprocessen met Microsoft Dynamics 365 Business Central, de opvolger van Dynamics NAV. Bij Blisss hebben we een goed doordachte projectaanpak.</p>
    </div>
{% endblock %}