{% extends 'header.html' %}
{% block content %}
    <div class="row container-adjustment-about">
    <div class="col-sm-6">
<div class="p-3 mb-2 container bg-success rounded-top container-adjustment-about-text">
<h2>About <img src="../static/VarPred_logo.png" alt="VarPred" width="100" height="80"></h2>
</div>
    <div class="container bg-light">
        <p>Wat begon als start-up vanuit de Hogeschool Arnhem & Nijmegen (HAN) in 2021 is in de afgelopen maande flink gegroeid naar een hardwerkend bedrijf met een sterk biologisch DNA. Vanuit Nijmegen ondersteunen wij onze gebruikers met het verkrijgen van een clinical significance. VarPred is succesvol in verschillende deelmarkten zoals zorg en de overheid. Inmiddels zijn we uitgegroeid tot partners van de HAN. Daar zijn wij enorm trots op.

VarPred streeft naar uitdagende oplossingen voor de gebruiker. Het is onze missie om gebruikers te helpen wat de clinical significance is van diegene.

Voor nu ondersteunen we alleen een clinical significance predictor om zo de gebruikers een duidelijke beeld te geven over hun gezondheid. Dit doen we met behulp van Machine Learning icm Flask.</p>
    </div>
        </div>
    <img src="../static/Gebouw_binnenkant.jpg" alt="InsideVarPred" class="col-sm-6 img-thumbnail">
</div>
{% endblock %}