{% extends 'header.html' %}
{% block title %}Calculator{% endblock %}
{% block content %}

<div class="container container-adjustment-info p-3 mb-2 border border-3 rounded-pill">
    <h2>Clinical significance predictor:</h2>
    <form action="{{ url_for('get_input') }}" method="POST"
          enctype="multipart/form-data">
        <label>Enter the VCF file below:<br><br>
            <div class="mb-3">
                    <input class="form-control" type="file" name="vcf_file"
                           accept=".vcf">
            </div>
        </label><br>
        <button id="calculate" class="btn btn-primary btn-lg" onclick="main()"
                type="submit">Calculate results
        </button>
        <span id="error">{{ errormsg }}</span>
    </form>
</div>

<script>
    function main() {
        changeTxt()
        hideErrorMsg()
    }

    function changeTxt() {
        var calculate = document.getElementById("calculate")
        calculate.innerHTML = '<span class=\"spinner-border spinner-border-sm\"></span> Loading...';
    }

    function hideErrorMsg() {
        var errorDiv = document.getElementById("error");
        errorDiv.style.display = "none";
    }
</script>
{% endblock %}