{% extends 'header.html' %}
{% block content %}
    <div class="container-adjustment-contact border border-secondar border-4 col-sm-6">
    <h2>Contact form</h2>
         <form class="was-validated">
         <div class="mb-3">
            <label for="validationTextarea" class="form-label">Name</label>
                <input type="text" class="form-control is-invalid" id="validationTextarea" placeholder="Required Name">
            <div class="invalid-feedback">
              Please enter your name.
            </div>
        </div>

        <label for="naam">Naam: </label>
        <input type="text" name="naam" id="naam"><br>
        <label for="telefoonnummer">Telefoonnummer: </label>
        <input type="number" name="telefoonnummer" id="telefoonnummer" value="<?php if(isset($_GET['telefoonnummer'])){ echo htmlentities($_GET['telefoonnummer']);} ?>"><br>
        <label for="e-mail">E-mail: </label>
        <input type="email" name="e-mail" id="e-mail" value="<?php if(isset($_GET['e-mail'])){ echo htmlentities($_GET['e-mail']);} ?>" ><br>
        <label for="project">project: </label>
        <select name="project" id="project">
            <option value="">...</option>
            <option value="Reizen in Finland">Reizen in Finland</option>
            <option value="Profielwerkstuk">Profielwerkstuk</option>
            <option value="Klussen thuis">Klussen thuis</option>
            <option value="Hobbyprojecten">Hobbyprojecten</option>
            <option value="Vakken op school">Vakken op school</option>
            <option value="Op reis naar Thailand">Op reis naar Thailand</option>
            <option value="Op reis naar Tsjechië">Op reis naar Tsjechië</option>
            <option value="Vakken op de middelbare school">Vakken op de middelbare school</option>
        </select><br>
        <fieldset>
            <label for="interesses1">Interesses:</label>
            <input type="radio" name="interesses" value="inhoudelijk" checked="checked" id="interesses1"> Inhoudelijk<br>
            <label for="interesses2"></label>
            <input type="radio" name="interesses" value="samenwerking" id="interesses2"> Samenwerking<br>
            <label for="interesses3"></label>
            <input type="radio" name="interesses" value="advies" id="interesses3"> Advies<br>
        </fieldset>
        <label for="bericht">bericht: </label>
        <textarea rows="10" cols="50" name="bericht" id="bericht"><?php if(isset($_GET['bericht'])){ echo $_GET['bericht'];} ?></textarea><br>
        <fieldset>
            <label for="terugbellen">Wil je terug gebeld worden? </label>
            <input type="checkbox" name="terugbellen" value="Ja" id="terugbellen"><br>
        </fieldset>
        <input class="button" type="submit" name="verzenden" value="Verzenden"><br>
        <input class="button" type="submit" name="resetten" value="Resetten">
    </form>
    </div>
{% endblock %}