{% extends 'header.html' %}
{% block content %}
    <div class="container container-adjustment ">
        <h2>Clinical significance predictor:</h2>
<form action="{{ url_for("get_input") }}" method="POST" enctype="multipart/form-data">
<label>Enter the VCF file below:<br><br>
    <div class="mb-3">
  <input class="form-control" type="file" name="vcf_file" accept=".vcf">
</div>
</label><br><br>
<button class= "btn btn-primary btn-lg" name="resultbutton" type="submit">Calculate results</button>
{{ errormsg }}
</form></div>
{% endblock %}