{% extends 'header.html' %}
{% block title %}Disclaimer{% endblock %}
{% block content %}
<div class="container-adjustment">
    <p>
        Please read these terms of use carefully before using the website
        used. Describes the conditions of use
        from this website.
    </p>
    <h2>General</h2>
    <p>
        This website (excluding sites linked to it) is
        managed by us, VarPred, a company that is
        established in the Netherlands ("VarPred"). By giving yourself access
        provide to the website you agree to this
        terms of use. If you do not agree to these terms of use
        wish to go, please do not visit this website any further
        or to use.
    </p>
    <h2>Intellectual property rights</h2>
    <p>
        All intellectual property rights, including the
        copyright and trademark rights, on all texts, images,
        sounds, software and other materials on this website are
        owned by VarPred, its affiliates, or its
        Recorded with permission of the respective owner.
    </p>
    <br>
    <p>
        You may print or download any portion of the website to a
        hard drive and distribute it to other persons under the
        provided you do so for informational purposes only.
        In addition, you must submit the following so-called 'copyright
        notice':
        include all copies: Copyright VarPred Nederland B.V. All
        rights reserved.
    </p>
    <br>
    <p>
        It is therefore without our prior written consent, under
        more, forbidden to:
    </p>
    <br>
    <ol>
        <li>use a (copy of) (a part of) the website and/or the brands placed on
            it for commercial purposes; and
        </li>
        <li>change (part of) the website or include it in any other work (such
            as a paper document, weblog or website of someone else).
        </li>
    </ol>
    <h2>Contents</h2>
    <p>
        We have prepared the content of this website with the utmost care
        composed. However, the website is for informational purposes only
        purposes offered. VarPred does not warrant that the contents of the
        website is correct, current and complete, that the website is
        uninterrupted
        will work and/or be free from errors.
    </p>
    <br>
    <p>
        If the website refers to products or services,
        that no offer to sell or supply that product or that
        shift.
    </p>
    <br>
    <p>
        To the extent permitted by law, VarPred, including co
        means our affiliates, officers and
        employees, hereby disclaims any liability for any damage
        whatsoever, directly and/or indirectly, in any way created by and/or
        arising out of your use of the website or any other
        website linked site. More specifically, VarPred will not
        be liable for any damage whatsoever, which may arise in any
        manner arises from and/or arises from:
    </p>
    <br>
    <ul>
        <li>acts performed by you, which would have been prompted by the
            information placed on the website;
        </li>
        <li>the inability to use the website; and</li>
        <li>the fact that certain information on the website is incorrect,
            incomplete or not up to date.
        </li>
    </ul>
    <h2>Linked sites</h2>
    <p>
        The website may contain references (for example by means of a
        hyperlink, banner or button) to other sites that
        relate to a specific aspect of this website. This
        does not automatically mean that VarPred is associated with these other
        sites or their owners. We are therefore not responsible
        for these other sites including the information contained therein.
        Information and material provided by you
    </p>
    <br>
    <p>
        If you provide us with any information or other material, you
        agree that we can use it. You guarantee that
        the information or material does not infringe the
        (intellectual property) rights of third parties or otherwise
        is unlawful.
    </p>
    <h2>Personal data</h2>
    <p>
        If you provide us with personal data on the website, such as your
        name and email address, our privacy statement applies. We
        recommend that you read this privacy statement carefully before
        submitting it to us
        information provided.
    </p>
    <h2>Medical advice</h2>
    <p>
        This site does not provide medical advice. If you have health problems,
        please contact your GP or specialist.
        The information on this site does not replace the information provided
        to you by the doctor or nurse.
    </p>

    <h2>Miscellaneous</h2>
    <p>
        We reserve the right, without notice on
        changes and corrections to this website and/or this . at any time
        terms of use.
    </p>
    <br>
    <p>
        These terms of use and your use of the website are subject to
        Dutch law applies. Any disputes that
        arising out of or otherwise related to this website
        be submitted to the competent court in Nijmegen.
    </p>
</div>
{% endblock %}