<!--
This page shows that a disclaimer is necessary to protect our business against legal liability by saying
that we won't be held responsible for how people use our site, or for any damages they suffer as a result of our content.
A disclaimer is generally any statement intended to specify or delimit the scope of rights and obligations that may be
exercised and enforced by parties in a legally recognized relationship.-->

<!-- Including header to the page-->
{% extends 'header.html' %}
{% block title %}Disclaimer{% endblock %}
{% block content %}

<!--    Disclaimer-->
    <div class="container-adjustment">
            <p>
            No results shown in this application should be used as a medical diagnose. This application is to be used solely as an indicative tool.
            </p>
    </div>
{% endblock %}